{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Automóviles</title>
</head>
<body class="app">
    <h1>Listado de Automóviles</h1>




    <form action="{% url 'alta_automovil' %}" method="get">
       {% csrf_token %}

        <button type="submit" class="add-btn">Agregar Automóvil</button>
    </form>
    
    <table>
        <caption>Automóviles disponibles</caption>
        <thead>
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Año</th>
                <th scope="col">VTV</th>
                <th scope="col">Patente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for auto in autos %}
            <tr>
                <td>{{ auto.marca }}</td>
                <td>{{ auto.modelo }}</td>
                <td>{{ auto.anio }}</td>
                <td> <a href="{% url 'detalle_automovil' auto.id %}">
                    {{ auto.patente }}
                </a></td>

               
                <td>{{ auto.vtv }}</td>

                <td>

                    {% if auto.id %}
                    <form method="post" action="{% url 'eliminar_automovil' auto.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Eliminar</button>
                    </form>
                    {% else %}
                    <p>ID no válido</p>
                    {% endif %}
                </td>

                <td> <a href="{% url 'editar_automovil' auto.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <p>{{ caracteristica }}</p>
</body>
</html>
