
<!-- templates/mi_template.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">
    <title>Listado de contratos</title>
</head>
<body class="app">
    <div class="head">
        {% include 'cabecera.html' %}
        {% include 'bnav.html' %}
    </div>
    <a href="{% url 'home' %}" class="btn-atras"><img src="{% static 'operacion/img/atras.svg' %}"></a>
    <h1>Listado de contratos</h1>
    <table>
            <tr>
                <th>Nº de Contrato</th>
                <th>Cliente</th>
                <th>Auto</th>
                <th>Flota</th>
                <th>Contrato firmado</th>
                <th>Fecha de firma</th>
                <!-- <th>Facturación</th> -->
                <!-- <th>Acciones</th> -->

            </tr>
        
            {% for contrato in contratos %}
                <tr>  
                    <td>
                        <form method="post" action="{% url 'editar_contrato' contrato.pk %}">
                            {% csrf_token %}
                            {% if contrato.contrato_firmado %}
                            {{ contrato.id|stringformat:"04d" }}
                            {% else %}
                            <a class="enlace" href="{% url 'editar_contrato' contrato.pk %}">{{ contrato.id|stringformat:"04d" }}</a>
                            <!-- <button type="submit" class="btn"><img src="{% static 'operacion/img/eliminar_blanco.svg' %}" alt=""></button> -->
                            {% endif %}
                        </form>
                    </td>
                    <td>{{ contrato.cliente }}</td>
                    <td>{{ contrato.auto|default:"--" }}</td>
                    <td>{{ contrato.flota }}</td>
                    <td>{% if contrato.contrato_firmado %}
                        <img src="{% static 'operacion/img/check.svg' %}" alt="Firmado">
                        {% else %}
                        <img src="{% static 'operacion/img/cancel.svg' %}" alt="No Firmado">
                        {% endif %}
                    </td>
                    <td>{{ contrato.fecha_contrato_firmado }}</td>
                    <!-- <td>{% if contrato.facturacion %}
                        <img src="{% static 'operacion/img/check.svg' %}" alt="Facturado">
                        {% else %}
                        <img src="{% static 'operacion/img/cancel.svg' %}" alt="No Facturado">
                        {% endif %}
                    </td> -->
                    <td class="acciones">
                        
                        <form method="get" action="{% url 'eliminar_contrato' contrato.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn"><img src="{% static 'operacion/img/eliminar_blanco.svg' %}" alt=""></button>
                        </form>
                        <form method="get" action="{% url 'generar_contrato' contrato.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn"><a href="{% url 'generar_contrato' contrato.id %}" target="_blank" rel="noopener noreferrer"><img src="{% static 'operacion/img/ojo-abierto_B.png' %}" alt=""></a></button>
                        </form>
                        
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay contratos registrados.</td>
                </tr>
            {% endfor %}
        
    </table>
    <a href="{% url 'agregar_contrato' %}" class="btn-flotante">
        <img src="{% static 'operacion/img/agregar.svg' %}">
        <form action="{% url 'agregar_contrato' %}" method="get">
            {% csrf_token %}
         </form>
    </a>
</body>
</html>
