
<!-- templates/mi_template.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">
    <title>Listado de contratos</title>
</head>
<body class="app">
    <div class="head">
        {% include 'cabecera.html' %}
        {% include 'bnav.html' %}
    </div>
    <a href="{% url 'home' %}" class="btn-atras"><img src="{% static 'operacion/img/atras.svg' %}"></a>
    <h1>Listado de contratos</h1>
    <table>
            <tr>
                <th>Cliente</th>
                <th>Auto</th>
                <th>Flota</th>
                <th>Contrato firmado</th>
                <th>Fecha de firma</th>
                <th>Facturación</th>
                <!-- <th>Acciones</th> -->

            </tr>
        
            {% for contrato in contratos %}
                <tr>  
                    <td>{{ contrato.cliente }}</td>
                    <td>{{ contrato.auto }}</td>
                    <td>{{ contrato.flota }}</td>
                    <td>{{ contrato.contrato_firmado }}</td>
                    <td>{{ contrato.fecha_contrato_firmado }}</td>
                    <td>{{ contrato.facturacion }}</td>
                    <td class="acciones">
                        <form method="post" action="{% url 'eliminar_contrato' contrato.pk %}">

                            {% csrf_token %}
                            <button type="submit" class="btn"><img src="{% static 'operacion/img/eliminar_blanco.svg' %}" alt=""></button>
                        </form>
                        <form method="get" action="{% url 'editar_contrato' contrato.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn"><img src="{% static 'operacion/img/editar_blanco.svg' %}" alt=""></button>
                        </form>
                        <form method="get" action="{% url 'generar_contrato' contrato.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn"><img src="{% static 'operacion/img/editar_blanco.svg' %}" alt=""></button>
                        </form>
                        
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay contratos registrados.</td>
                </tr>
            {% endfor %}
        
    </table>
    <a href="{% url 'agregar_contrato' %}" class="btn-flotante">
        <img src="{% static 'operacion/img/agregar.svg' %}">
        <form action="{% url 'agregar_contrato' %}" method="get">
            {% csrf_token %}
         </form>
    </a>
</body>
</html>
