{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}">
    <title>Alta de Flota</title>
</head>
<body class="app">
    <div class="head">
        {% include 'cabecera.html' %}
        {% include 'bnav.html' %}
    </div>
    
    <h1>Registrar nueva Flota</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Genera los campos del formulario -->
        <button type="submit">Guardar</button>
        <a href="{% url 'listado_flota' %}">Cancelar</a>
    </form>
    
    
</body>
</html>