{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}">
    <title>Agregar Infracción</title>
</head>
<body class="app">
    <div class="head">
        {% include 'cabecera.html' %}
        {% include 'bnav.html' %}
    </div>
    
    <h1>Agregar Infracción</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
        <a href="{% url 'listado_infracciones' %}">Cancelar</a>
    </form>
</body>
</html>
