body{
    margin: 0;
    padding: 0;
}

.bnav{
    width: 100vw;
    background-color:teal;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    a{
        margin: 10px 0px;
        padding: 15px;
        color: rgb(240,240,240);
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a:hover {
        
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    } 
    a:active{
        color: rgb(240,240,240,0.5);
    } 
} 



/* Estilo básico para el menú de navegación */


.bnav .opciones {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}
.bnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.bnav li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para el dropdown */
.dropdown {
    position:relative;
    display: inline-block;
}

/* Estilo para el botón del dropdown */
.dropbtn {
    color: white;
    padding: 10px 15px;
    /* border-radius: 5px; */
    cursor: pointer;
}

/* Contenido del dropdown (oculto por defecto) */

.dropdown-content {
    display: none; /* Esconde el contenido por defecto */
    position: absolute;
    top: 140%; /* Hace que el dropdown se despliegue justo debajo del botón */
    left: 0;
    background-color: rgb(0, 128, 128);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    margin: 0px;
    padding: 0px;
    /* border-radius:  0 0 5px 5px; */
    
}

.dropdown-content a {
    margin: 0px;
    padding: 5px;
    color: rgb(240,240,240);
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 0;
}

/* Mostrar el dropdown cuando el mouse pasa por encima */
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;

}
