body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(240,240,240); */
}

:root {
    --background: rgb(240,240,240);
    --foreground: rgb(42, 80, 110);
  }
  
.app{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    /* height: 100vh;           Usar el 100% de la altura del viewport */
    background-color: var(--background);
}

.app-login{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    height: 100vh;           /* Usar el 100% de la altura del viewport */

    .cont-login{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        
        background-color: rgb(42, 80, 110);
        img{
            width: 450px;
            height: 260px;
            padding: 60px;
        }
        form h2{
            color: rgb(240, 240, 240);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
    }
}
.head{
    position: sticky;
    top: 0;
    z-index: 99;
}


h1{
    color:var(--foreground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin: 25px;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 5px 15px 5px;

    width: 600px;
    background-color: rgb(42, 80, 110, 0.5);
    form button{
        width: 300px;
        height: 30px;
        background-color: rgb(42, 80, 110);
        border-radius: 50px;
        border: 0px;
        color: rgb(240,240,240);
        font-size: 15px;
    }
    .errorList{
        color: beige;
    }

    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 5px;

        label{
            color: rgb(240, 240, 240);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: lighter;
            padding: 3px;
        }
        input{
            padding-left: 10px;
            height: 30px;
            width: 300px;
            background-color: rgb(240, 240, 240, 0.5);
            border-radius: 10px;
            border: solid 1px rgb(20, 49, 71);
            color: rgb(90, 90, 90);
            font-size: 15px;
        }
        select{
            padding: 0 10px 0 10px;
            height: 30px;
            width: 315px;
            background-color: rgb(240, 240, 240, 0.5);
            border-radius: 10px;
            border: solid 1px rgb(20, 49, 71);
            color: rgb(90, 90, 90);
            font-size: 15px;
        }
        #id_visibilidad{
            width: 20px;
            align-self: center;
        }
    }
    textarea{
        width: 300px;
        background-color: rgb(240, 240, 240, 0.5);
        border-radius: 10px;
        border: solid 1px rgb(20, 49, 71);
        

    }
}
form button{
    margin: 20px;
    width: 315px;
    height: 45px;
    background-color: rgb(42, 80, 110);
    border-radius: 50px;
    border: 0px;
    color: rgb(240,240,240);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
form button:hover{
    background-color: rgb(20, 49, 71);
    
    border-radius: 50px;
    border: 0px;
    color: rgb(240,240,240);
    font-size: 15px;
}
form a{
    margin: 2px;
    width: 315px;
    height: 45px;
    border-radius: 50px;
    border: solid 1px rgb(42, 80, 110);
    color: rgb(42, 80, 110);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    align-content: center;
}
form a:hover{
    background-color: rgb(20, 49, 71);
    color: rgb(240,240,240);
    border-radius: 50px;
    font-size: 15px;
}

.btn-atras {
    width: 40px;
    height: 40px;
	border-radius: 60%; /* Borde del boton */
    margin: 0px 100px 0px 20px;
    img{
        margin-top: 20px;
    }
	
}

/* LOGIN */
.form-login {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    align-content: center;
    margin: 5px;
    padding: 50px;

    h2{
        /* text-transform:unset; */
        font-weight: lighter;
        font-variant: small-caps;
        font-size: 30px;
        margin-left: 20px;
    }

    button{
        border: solid 1px rgb(240, 240, 240);
        font-weight: lighter;
    }

    label{
        color: rgb(240,240,240);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        padding: 3px;
        margin-left: 20px;
    }
    .input-login{
        padding-left: 10px;
        margin-left: 20px;
        height: 30px;
        width: 300px;
        background-color: rgba(10, 10, 10, 0.5);
        border-radius: 50px;
        border: 0px;
        color: rgb(90, 90, 90);
        font-size: 15px;
    }
    .input-login:focus {
        outline: none; /* Elimina el borde de enfoque por defecto */
        background-color: rgba(10, 10, 10, 0.5); /* Mantiene el fondo igual */
        color: inherit; /* Mantiene el color del texto igual */
    }
    .input-login:not(:placeholder-shown) { /* Mantiene el estilo si tiene texto */
        background-color: rgba(10, 10, 10, 0.5); /* Mantiene el fondo igual */
        color: inherit; /* Mantiene el color del texto igual */
    }
    .input-login:valid{ /* Mantiene el estilo si es valido */
        background-color: rgba(10, 10, 10, 0.5); /* Mantiene el fondo igual */
        color: inherit; /* Mantiene el color del texto igual */
    }
    .password-container{
        display: flex;
        flex-direction: row;

        .toggle-password {
        position: relative;
        /* right: 10px; */
        cursor: pointer;
        .visible {
            width: 25px;
            height: 25px;
            margin-left: -30px;
            margin-top: 3px;
            padding: 0;
            filter: contrast(0);
          }
        }
    }
      
}
.tablas{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: 30px;

    h2{
        color:rgb(42, 80, 110);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        text-align: left;
        margin: 10px;
        padding-left: 20px;
    }
    .tabla-flota{
        display: flex;
        flex-direction: column;
        align-content: baseline;        
        margin: 10px;    
        td{  
            padding: 5px;
            color: rgb(2, 2, 2);
            font-size: 15px;
            text-align: left;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            form{
                height: 5px;
            }
        }
        tr:nth-child(odd){                      /*Color filas impares*/
            background-color: rgb(164, 164, 164);
        }
        tr:nth-child(even){                     /*Color filas pares*/
            background-color: rgb(200, 200, 200);
        }
        .acciones{
            background-color: transparent;
            width: 50px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;

            .btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                margin: 5px;
                width: 25px;
                height: 25px;
                background-color: #f7752a;
                border: none;
                cursor: pointer;
                border-radius: 3px;
                
            }
            
            
            .btn:hover {
                background-color: #c0392b;
            }
        }
    }
    
    th{
        width: 50vw;
        font-size: 20px;
        color: rgb(240, 240, 240);
        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color:rgb(42, 80, 110);
        border: none;
    }

    

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: rgb(240, 240, 240);
        }
        label{
            color: rgb(240, 240, 240);
            text-align: left;
            margin: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        select{
            padding: 0 10px 0 10px;
            height: 30px;
            width: 315px;
            background-color: rgb(240,240,240,0.5);
            border-radius: 50px;
            border: 0px;
            color: rgb(90, 90, 90);
            font-size: 15px;
        }
    }
}