{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}">
    <title>Alta de Automóvil</title>
</head>
<body class="app">
    <div class="head">{% include 'cabecera.html' %}
        {% include 'bnav.html' %}</div>
    
    <!-- <a href="{% url 'listado_automoviles' %}" class="btn-atras"><img src="{% static 'operacion/img/atras.svg' %}"></a> -->
    <h1>Registrar un nuevo Automóvil</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Genera los campos del formulario -->
        <button type="submit">Guardar</button>
        <a href="{% url 'listado_automoviles' %}">Cancelar</a>

    </form>
    
    
</body>
</html>
